.circle-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--navbar-shadow , 1px 2px #188f59ad, -1px 1px 2px #188f59ad, 1px 1px 2px #188f59ad);
    padding-inline: 15px;
    min-width: max-content;
    gap: 30px;
    background-color: #ffffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar-list .icon {
    font-size: 23px;
    color: #0f4c5c;
}

.navbar-list h3 {
    font-size: 19px;
    color: #156f85;
}

.navbar-list:hover .icon,
.navbar-list:hover h3 {
    color: #0f4c5c;
}