.comment-controller {
    margin-inline: 20px;
}

#show-more-comment-btn {
    margin: 5px 5px 0px 5px;
    font-size: 15px;
    word-spacing: -3px;
}

.comment {
    margin-block: 10px;
}

.comment-header {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
}

.commenter-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 2px;
}

.commenter-name {
    font-size: 0.8em;
    color: #3c4043;
    margin: 0;
    word-wrap: break-word;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.comment-body {
    color: #3c4043;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin: 0;
    line-break: anywhere;
    word-wrap: break-word;
    letter-spacing: .014em;
    line-height: 1.25rem;
    font-size: .934em;
    padding-top: 5px;
}



/* Comment adder */
.add-comment-controller {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 15px;
    margin-inline: 20px;
    margin-block: 15px;
}

.add-comment-form {
    display: flex;
    align-items: start;
    flex-grow: 1;
}

.add-comment-input {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding: 5px !important;
    padding-inline: 15px !important;
    color: #444;
    line-height: 1.5rem;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1),
        0 2px 4px rgb(0, 0, 0, 0.1);
    border-radius: 20px;
}

.send-comment-icon-btn {
    margin-left: 3px;
}