.comment-controller {
    margin-inline: 20px;
}

#show-more-comment-btn{
    margin: 5px 5px 0px 5px;
    font-size: 15px;
    word-spacing: -3px;
}

.comment {  
    margin-block: 10px;
}

.comment-header {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
}

.commenter-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.commenter-name {
    font-size: 0.8em;
    color: #3c4043;
    margin: 0;
    word-wrap: break-word;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.comment-body {
    color: #3c4043;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin: 0;
    line-break :anywhere;
    word-wrap: break-word;
    letter-spacing: .014em;
    line-height: 1.25rem;
    font-size: .934em;
    padding-top: 5px;
}



/* Comment adder */


.add-comment-controller {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    margin-inline: 20px;
    margin-block : 15px;
}

.add-comment-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.add-comment-input {
    width: 100%;
    border: 1px solid #ddd;
    color: #5f6368;
    border-radius: 25px;
    padding: 10px;
    resize: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    transition: border-color 0.3s ease;
    line-height: 1rem;
    font-size: .75rem;
    letter-spacing: .025em;
    font-weight: 400;
    overflow: hidden; 
}

.add-comment-input:focus {
    border-color: #444444;
}