.preview-of-upload-container {
    margin-block: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: transparent;
    width: 100%;
}

.file-preview-teacher {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    position: relative;
}

.file-preview-teacher img,
.file-preview-teacher video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-prev-btn {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
}

.file-preview-teacher:hover .delete-prev-btn{
    opacity: 1;
}

.delete-prev-btn svg{
    color: #FAFAFA;
    cursor: pointer;
    border-radius: 50%;
    background-color: #28231d85;
    backdrop-filter: blur(10px);
    padding: 3px;
}

.unsupported-files {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}

.unsupported-file-first-div {
    display: flex;
    align-items: center;
    min-width: 60px;
}

.unsupported-file-first-div svg {
    font-size: 26px;
    color: #276e7e;
    margin-inline: 12px;
}

.vertical-line {
    width: 1px;
    height: 40px;
    background-color: #e0e0e0;
}

.file-preview-name {
    font-size: 17px;
    color: #0b0705;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.unsupported-file-last-div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
}

.unsupported-delete-icon {
    color: #d32f2f;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
    background-color: #fde8e8;
}

.unsupported-delete-icon:hover {
    background-color: #fad1d1;
    transform: scale(1.051);
}

.unsupported-delete-icon svg {
    font-size: 18px;
}
