.main-circle-code-container {
    background-color: #ffffff;
    margin: 0;
    padding-inline: 15px;
    padding-top: 7px;
    padding-bottom: 13px;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1), 1px 0 1px rgba(0, 0, 0, 0.1), -1px 0 1px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 170px;
    margin-bottom: 20px;
    position: relative;
}

.entry-code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.entry-code-header pre {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.entry-code-header svg {
    font-size: 22px;
    color: #4a4a4a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.entry-code-header svg:hover {
    color: #0d4d57;
}

.entry-code {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #156f85;
    font-style: italic;
}

.entry-code svg {
    font-size: 20px;
    color: #4a4a4a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.entry-code svg:hover {
    color: #0d4d57;
}

.btn-more.clicked {
    animation: fadeIn 0.1s ease-in 0s 1;
    background-color: #a9a6a64e;
}