.task-summary-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1), 1px 0 1px rgba(0, 0, 0, 0.1), -1px 0 1px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 165px;
}

.task-summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-summary-header pre {
    font-size: 15px;
    margin: 0;
}

.task-summary-header svg {
    font-size: 22px;
    color: #4a4a4a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.task-summary-header svg:hover {
    color: #0d4d57;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: #333;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item .task-name {
    font-weight: bold;
}

.task-item .task-due-date {
    font-style: italic;
    color: #156f85;
}
