.main-announcement-container {
    margin-bottom: 20px;
}

.announce-something-container {
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 8px;
}

.announcement-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.announce-content {
    flex: 1;
}

.announce-heading {
    font-size: 16px;
    margin: 0;
    color: #276e7e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.announce-description {
    font-size: 14px;
    color: #715d66;
    margin: 5px 0 0;
}

.announcement-writer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-inline: 5px;
    border-top: 2px solid #e0e0e0;
    animation: slideInFromTop 0.5s ease forwards;
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.toggle-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.toggle-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 1.3px solid #276e7e;
    border-radius: 12px;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #f0f7fa, #ffffff);
}

.toggle-button {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;   
}

.toggle-button:first-child {
    border-radius: 12px 0 0 12px;
}

.toggle-button:last-child {
    border-radius: 0 12px 12px 0;
}

.toggle-button p {
    margin: 0;
}

.announcement-editor {
    margin-top: 10px;
    width: 100%;
}

.announcement-textfield {
    width: 100%;
}

.editor-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.left-side-controllers {
    display: flex;
    gap: 15px;
}

.right-side-controllers {
    display: flex;
    gap: 10px;
}

.left-side-controllers button {
    transition: all 0.3s ease;
}

.left-side-controllers button:hover {
    background-color: #e0e0e0;
    color: #276e7e;
}

.announcement-textfield.no-border {
    border: none;
}

.announcement-textfield input:focus {
    border: none;
    outline: none;
    box-shadow: none;
    color: #276e7e;
}
