#left-main {
    width: 190px;
    background-color: #ffffff;
    padding: 20px;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.menu-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #edf2f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 91%;
    transition: all 0.3s ease;
}

.menu-icon-container:hover {
    background-color: #f8fefe;
}

.menu-icon-container svg {
    font-size: 2rem;
    color: #005f73;
    transition: all 0.3s ease;
}

.left-links {
    margin-block: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-links a,
.left-link-main {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    color: #2f6690;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    transition: all 0.3s ease;
}

.left-links:hover,
.left-link-main:hover {
    background-color: #eaf9ff;
}

.left-links a::before,
.left-link-main::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #81c3d7;
    transform: scaleY(0);
    transition: all 0.3s ease;
}

.left-links a:hover::before,
.left-link-main:hover::before {
    transform: scaleY(1);
}

.left-links a:hover,
.left-link-main:hover {
    color: #fca311;
}

.left-links svg,
.left-link-main svg {
    margin-right: 10px;
    transition: all 0.3s ease;
    color: #0f4c5c;
}

.left-links a:hover svg,
.left-link-main:hover svg {
    transform: scale(1.1);
}

.left-links p,
.left-link-main p {
    margin: 0;
}

.sub-menu {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.3s ease;
}

.sub-menu svg {
    margin-left: 12px;
    margin-right: 8px;
}

.sub-menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2f6690;
    padding: 4px;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.sub-menu a:hover {
    background-color: #eaf9ff;
    padding-left: 5px;
    color: #fca311;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.active {
    color: #fca311 !important;
    background-color: #eaf9ff;
}

.active svg {
    color: #fb8500;
}