.main-home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#left-home {
    width: 47%;
}
#right-home{
    width: 53%;
}

#home-img{
    width: 100%;
}

#home-left-text {
    padding-left: 3vw;
}

#home-left-text h1 {
    background: linear-gradient(90deg, #3a0ca3, #f72585, #6247aa);
    background-size: 200% 200%;
    animation: left-text-gradient 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7vw;  
    font-family: "PT Sans Caption", sans-serif;
}

@keyframes left-text-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#home-left-text p {
    background : linear-gradient(80deg , #004e64 , #004e64);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.35vw;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.4;
    margin-top: 2vw;
    text-align:start;
}

#home-left-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vw;
    font-size: 1.25vw;
}

#home-left-btn #join-class-home-btn {
    border-radius: 10px;
    color: #fb5607;
    background-color: transparent;
    font-size: 1.6vw;
    cursor: pointer;
    transition: all 250ms;  
    margin-left: 40px;
}

#home-left-btn #create-class-home-btn {
    border-radius: 10px;
    color: #4aa019;
    background-color: transparent;
    font-size: 1.6vw;
    cursor: pointer;
    margin-right : 40px;
    transition: all 250ms;
}

#home-left-btn #join-class-home-btn:hover , #create-class-home-btn:hover{    
    transform: translateY(-3px);
}

#home-left-btn #straightLin {
    height: 2.5vw;
    width: 0.196vw;
    background-color: #00a896;
}