.sort-main-container {
    display: flex;
    align-items: center;
    padding-top: 44px;
    justify-content: space-between;
    padding-right: 20px;
    transition: all 0.5s ease;
}

#sort-details h2 {
    font-size: 1.75rem;
    font-weight: 800;
    color: #1e293b;
    padding-left: 1rem;
    margin: 0;
}

#sortby-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    gap: 10px;
}

#select {
    width: 80px;
    padding-inline: 8px;
    border-radius: 4px;
}

.divider {
    height: 1px;
    margin-left: 1rem;
    margin-right: 20px;
    margin-top: 1rem;
    background-color: #e2e8f0;
}