.sort-main-container {
    display: flex;
    align-items: center;
    padding-top: 44px;
    justify-content: space-between;
    padding-right: 20px;
    transition: all 0.5s ease;
}

#sort-details h2 {
    font-size: 1.8em;
    font-weight: bold;
    background: linear-gradient(to right, #fb8500, #fca311);
    -webkit-background-clip: text;
    padding-left: 1rem;
    background-clip: text;
    color: transparent;
}

#sortby-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    gap: 10px;
}

#select {
    width: 80px;
    padding-inline: 8px;
    border-radius: 4px;
}

.divider {
    height: 2px;
    margin-right: 20px;
    background: linear-gradient(to right, #3d7aa6, #0988e3);
}