body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

* {
    font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans Caption", sans-serif !important;
}