#forgot-password-body {
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.forgot-password-container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 900px;
    height: auto;
}

.forgot-password-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.forgot-password-image img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.forgot-password-form {
    flex: 1;
    padding: 3rem 2rem;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
}

#send-otp-form h2, #verify-otp-form h2 {
    color: #00a896;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#send-otp-btn, #reset-password-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    font-size: 1em;
    margin: auto;
    margin-block: 2rem;
    border: none;
    color: #fff;
    border-radius: 50px;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #00a896, #339989, #09bc8a, #17bebb);
    transition: all 0.4s ease-in-out;
}

#send-otp-btn:hover, #reset-password-btn:hover {
    background-position: 100% 0;
}