.otp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
    gap: 1.5rem;
}

.otp-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#otp-btn{
    background-color: #f4f7f6;
    color: #113570;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: fit-content;
    min-width: 10rem;
    min-height: 2.3rem;
    font-size: 1em;
}