#body {
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#signup-teacher-img {
    padding-top: 46vh;
    height: 50vh;
}

.main-signup-form {
    height: 85vh;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px 4rem 4rem 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    overflow: hidden;
}

.form-container {
    padding: 2rem;
    flex: 1;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 0rem 1rem 0.7rem 0rem;
}

.register-btn {
    background-color: #64b5f6;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.register-btn:hover {
    background-color: #42a5f5;
}

.column {
    border: none;
}

#secondary {
    background-color: #F9BC35;
    border-radius: 0 4rem 4rem 0;
    text-align: center;
}

.btn {
    text-transform: uppercase;
    border-radius: .15rem;
    width: 200px;
    padding: .150rem .75rem;
    margin: 30px auto;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
}

.btn-primary {
    border-color: rgba(255, 255, 255, 0);
    background: #f1da36;
    background: -moz-linear-gradient(left, #f1da36 0%, #fca86c 99%);
    background: -webkit-linear-gradient(left, #f1da36 0%, #fca86c 99%);
    background: linear-gradient(to right, #f1da36 0%, #fca86c 99%);
}

.btn-primary:hover {
    border-color: rgba(255, 255, 255, 0);
}

#secondary .btn-primary {
    background: #f8f9fa4f;
    color: #000;
}

.sec-content {
    margin-top: 85%;
}